<body id="landing_page_body">
  <div class="content_container">
    <h1 id="greeting">Welcome to Classtronomy</h1>

    <p id="landing_page_quote">“The nitrogen in our DNA, the calcium in our teeth, the iron in our blood, the carbon in our apple pies were made in the interiors of collapsing stars. We are made of starstuff.”<br>--Carl Sagan</p>

    <div id="nav_bar">
      <%= link_to 'Sign In', signin_path %>
      <%= link_to 'Enroll', enroll_path %>
      <%= link_to 'Class Roster', students_path %>
      <%= link_to 'Courses', courses_path %>
    </div>
  </div>
</body>
