<h1>List of Courses</h1>

<% @courses.each do |course| %>
  <div class="course_wrapper">
    <h2 class="name"><%= link_to course.name, course %></h2>
    <hr>
  </div>
<% end %>

<!-- <div class="course_container">
  <h2>Planets</h2>
</div>

<div class="course_container">
  <h2>Moons <span class="coming_soon">- coming soon!</span></h2>
</div>

<div class="course_container">
  <h2>Galaxies <span class="coming_soon">- coming soon!</span></h2>
</div> -->

<p><%= link_to 'Back Home', root_path %></p>
